<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>index|初めてのNode.jsアプリ</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <form action="/", method="post">
      <label for="text">Todo</label>
      <input type="text" name="content" id="text" />
      <input type="submit" value="登録">
    </form> 

    <ul>
      <% todos.forEach(todo =>{ %>
        <li><%= todo.content %></li>
      <% }) %>
    </ul>
  </body>
</html>
