<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>new | </title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <form action="/signup" method="post">
      <p>username</p>
      <input type="text" name="username">
      <p>email<p>
      <input type="text" name="email">
      <p>password<p>
      <input type="text" name="password">
      <p>
        <input type="submit" value="登録">
      <p>
    </form> 
  </body>
</html>
