<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin | </title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <form action="/signin" method="post">
      <p>メールアドレス<p>
      <input type="text" name="email">
      <p>パスワード</p>
      <input type="text" name="password">
      <p>ログイン<p>
      <input type="submit" value="ログインする">
      
      <p>or <a href="/signup">SignUp</a></p>
    </form>
  </body>
</html>
